<section class="w3l-homeblock3" id="clients">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">Başarılarım ve Hedeflerim</span>
                    <h3 class="title-big">
                     <span> Hedefim</span>
                    </h3>
                    <p class="mt-4">
                        10 yılın sonunda kalıcı sistemler kurup emekliliğin tadını çıkarmak.
                    </p>
                    <div class="reward-list mt-5">
                        <div class="reward-item">
                            <div class="reward-item-photo">
                                7.5+
                            </div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Toplam Bitirilen Okul Sayısı</span>
                                <p class="reward-item-descr">3 Şehir</p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo">
                                1+
                            </div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Uluslararası Belgeler</span>
                                <p class="reward-item-descr">Proje Yönetimi ve Çevik Koçluk İçin</p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo">
                                20+
                            </div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Tamamlanan Projeler</span>
                                <p class="reward-item-descr">Her Gün Bir Önceki Günden Daha İyi Olabilmek İçin</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self text-center mt-lg-0 mt-md-5 mt-4">
                    <div class="images">
                        <img src="~/CV/proje cv/pmi.jpg" class="img-fluid" alt="" />
                        <img src="~/CV/Gazi_Üniversitesi_logo.png" class="img-fluid" alt="" />
                        <img src="~/CV/istockphoto-873330508-612x612.jpg" class="img-fluid" alt="" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
